* {
	margin: 0;
	padding: 0;
    box-sizing: border-box; 
	text-decoration: none;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}


#area-cabecalho {
	background-color: #333;
	padding: 15px;
	text-align: center;
}


.postagem img {
    max-width: 10vw;
    height: auto;
    border-radius: 5px;
    margin: 0px ;
	padding: 10px;
}
a {
	text-decoration: none;	
}

a:link, a:visited {
	color: #4a90b1;
}

a:hover {
	color: #023750;
	text-decoration: none;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #ffffff;
	background: #ffffff;
	text-decoration: none;
}

h1 {
	color: #ffffff;
	font-size: 2.5em;
}

h2 {
	color: #ffffff;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}

.branco{
	color: rgb(0, 0, 0);
}	

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;	
	display: block;
} 

.section	{
	display: flex;
height: auto;
width:100% ;
}
.container{

		display: flex;
		align-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;
		align-items: center;
	}
.postagem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width:500px;
	height:600px;
	border-radius: 50px;
	margin-bottom: 10px;
	background-color: #c9d2dd;
}
#flex{
	background-color: #cccccc;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		align-items: stretch;
	}
#linguagem{
	display:flex;
	flex-direction: column;
}
#linguagem{
	border-right: 1px solid #ffffff;
}
	
p{
	font-size: 1em;
	color: #000000;
	margin: 10px 0;
	padding: 0 10px;
	text-align: center;
}

.categorias > ul > li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	border-radius: 50px;
	margin-bottom: 10px;
}

.categorias > h3 {
	text-align: center;
	color: #000000;
	font-size: 1.5em;
	margin-bottom: 10px;
}

footer{
    background-color: #333;
    padding: 10px;

}
footer p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
}